@import "template";
$color:#364e96;

body {
    text-align: center;

    @include header;

    .top {
        padding: 100px 0px 100px 0px;
    }

    .po {
        width: 25%;
    }

    .lo {
        width: 30%;
    }

    .tag {
        margin: 0px auto;
        @include heading-underline($color);
    }

    .he {
        padding-top: 10px;
        width: 25%;
        margin: 0px auto;

        p {
            @include heading-tag(white, $color);
        }
    }

    .mi {
        width: 5%;
    }

    .btn {
        @include button-download($color, $color)
    }

    .set {
        padding-top: 10px;
        color: white;
        width: 25%;
        margin: 0px auto;
        @include dream("p", $color);
    }

    p {
        font-size: 20px;
    }

    .jscode {
        font-size: 20px;
        color: #8bdf4c;
        width: 25%;
        margin: 0px auto;
        background-color: #364549;
    }

    .jscode p {
        font-size: 1em;
        margin: 5px 0px 0px 0px;
    }

    .f {
        color: aqua;
    }

    .d {
        color: white;
    }

    .i {
        color: #ff8095;
    }

    .l {
        color: #8bdf4c;
    }

    .vc {
        color: #ebd247;
    }
}