@import "template";

body {
    text-align: center;

    p {
        font-size: 25px;
    }

    .jscode {
        font-size: 25px;
        color: aqua;
        width: 25%;
        margin: 0px auto;
        background-color: #364549;
    }

    .i {
        color: #ff8095;
    }

    .l {
        color: #8bdf4c;
    }
}