@import "template";

body {
    text-align: center;

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .jscode {
        font-size: 20px;
        color: #8bdf4c;
        width: 25%;
        margin: 0px auto;
        background-color: #364549;
    }

    .jscode p {
        font-size: 1em;
        margin: 5px 0px 0px 0px;
    }

    .f {
        color: aqua;
    }

    .d {
        color: white;
    }

    .i {
        color: #ff8095;
    }

    .l {
        color: #8bdf4c;
    }

    .vc {
        color: #ebd247;
    }
}